@font-face{
    font-family: "Bree-Serif";
    src: url(/fonts/Bree_Serif/BreeSerif-Regular.ttf);
}

@font-face{
    font-family: "Lato-Regular";
    src: url(/fonts/Lato-Font/Lato-Regular.ttf);
}

@font-face{
    font-family: "Lato-Bold";
    src: url(/fonts/Lato-Font/Lato-Bold.ttf);
}

@font-face{
    font-family: "Lato-BlackItalic";
    src: url(/fonts/Lato-Font/Lato-BlackItalic.ttf);
}

@font-face{
    font-family: "Lato-Light";
    src: url(/fonts/Lato-Font/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-Italic";
    src: url(/fonts/Lato-Font/Lato-Italic.ttf);
}