/*GRID Index*/
#sec__1{
    height: 100vh;
    display: grid;
    grid-template-rows: 550px auto;

}

#sec__2{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sec__3{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/*GRID Contact*/
#sec__1--contact{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}